.home {
    min-width: 1400px;
    overflow-y: auto;

    h2 {
        color: #000;
        font-family: "HarmonyOS Sans SC";
        font-size: 55.419px;
        font-style: normal;
        font-weight: 300;
        line-height: 77.586px;
        /* 140% */
        margin: 0;
    }


    // 顶部横幅
    .hero-banner {
        background: url('@/assets/images/home/hero-banner-bg.png') no-repeat center right;
        background-size: cover;
        height: 100vh;
        padding: 0 100px;
        position: relative;
        overflow: hidden;
        display: flex;


        .hero-content {
            // max-width: 1800px;
            width: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            // justify-content: flex-start;
            gap: 10vh;
            // align-items: center;
        }

        .hero-left {
            width:0;
            flex: 1;
            max-width: 700px;
            display: flex;
            flex-direction: column;
            
            &::before {
                content: '';
                flex: 1;
            }
            
            &::after {
                content: '';
                flex: 2;
            }
        }

        .stats {
            display: flex;
            gap: 80px;
            margin-bottom: 20px;
            margin-top: 100px;

            .stat-item {
                display: flex;
                flex-direction: column;
                gap: 8px;

                .stat-number {
                    color: #413D3B;
                    font-family: Jokker;
                    font-size: 37.027px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

                .stat-label {
                    color: #413D3B;
                    font-family: "HarmonyOS Sans SC";
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                    margin-left: 10px;
                }

                .stat-desc {
                    color: #413D3B;
                    text-align: center;
                    font-family: "HarmonyOS Sans SC";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                }
            }
        }

        .awards {
            img {
                width: 100%;               
            }
        }

        .hero-right {
            width: calc(80vh);            
            display: flex;
            align-items: center;
            justify-content: center;
            display: flex;
            
            // &::before {
            //     content: '';
            //     flex: 1;
            // }
            
            // &::after {
            //     content: '';
            //     flex: 2;
            // }
            .product-showcase {
                margin-top: -4vh;
                height: 60vh;
                // width: 800px;
                // width: 100%;
                // max-width: 80%;
                // width: 80%;
                // margin-top: 10vh;
            }
        }
    }

    .hero-banner-mobile {
        display: none;
    }

    // 第二块：放大人类智能
    .section-ai-intelligence {
        background: #ffffff;
        padding: 110px;

        .section-container {
            max-width: 1800px;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 160px;
        }

        .text-block {
            .section-title {
                font-size: 42px;
                font-weight: 600;
                color: #1a1a1a;
                margin: 0 0 30px 0;
                line-height: 1.3;
            }

            .section-description {
                color: #000;
                font-family: "HarmonyOS Sans SC";
                font-size: 19.397px;
                font-style: normal;
                font-weight: 300;
                line-height: 33.251px;
                /* 171.429% */
            }
        }

        .image-grid-4 {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;

            .grid-item {
                aspect-ratio: 4/3;
                overflow: hidden;
                border-radius: 5px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    .section-professionals {
        padding: 110px;

        .section-container {
            max-width: 1800px;
            margin: 0 auto;
        }

        .section-title-center {
            text-align: center;
            margin-bottom: 56px;
        }

        .image-grid-6 {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 60px;

            .grid-item {
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 5px;
                }

                .grid-label {
                    font-size: 18px;
                    color: #1a1a1a;
                    padding: 8px 16px;
                    color: #000;
                    font-family: "HarmonyOS Sans SC";
                    font-size: 22.167px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 33.251px;
                    /* 150% */
                }
            }
        }
    }

    // 第四块：Plaud 产品系列
    .section-products {
        background: #ffffff;
        padding: 110px;

        .section-container {
            max-width: 1800px;
            margin: 0 auto;
            font-size: 36px;
            font-weight: 500;
            line-height: 1.4;
            color: #1a1a1a;
            text-align: center;


            .section-title-center {
                margin: 0;
            }


        }

        .product-cards {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 70px;
            margin-top: 70px;
            .card-item
            {
                position: relative;
                flex: 1;
                .button_cart
                {
                    position: absolute;
                    bottom: 5%;
                    left: 50%;
                    transform: translateX(-50%);
                }
                .button_back
                {
                    background: #000;
                    color: #FFF;
                    border-radius: 5px;
                    padding: 10px;
                    font-size: 12px;
                    text-decoration: none;
                }
                 .button_back:hover
                {
                    background: #666;
                }
            }
            img {
                width: 100%;
                flex: 1;
            }
        }
    }

    // 第五块：Plaud Intelligence™
    .section-plaud-intelligence {
        background: #ffffff;
        padding: 110px;

        .section-container {
            max-width: 1800px;
            margin: 0 auto;
            font-size: 36px;
            font-weight: 500;
            line-height: 1.4;
            color: #1a1a1a;
            text-align: center;


            .section-title-center {
                margin: 0;
            }


        }

        .product-cards {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 25px;
            margin-top: 53px;

            >img {
                width: 0;
                flex: 1;
            }
        }
    }

    // 第六块：关注我们
    .section-follow-us {
        background: #ffffff;
        padding: 77px 110px 110px;

        .section-container {
            max-width: 1800px;
            margin: 0 auto;
        }

        .logo {
            margin-bottom: 47px;

            img {
                width: 232px;
                height: auto;
            }
        }

        .follow-title {
            margin-bottom: 40px;
            .contact_us
            {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 20px;
            padding: 20px 0;
            }
            .contact_item div:first-child
            {
                font-size: 18px;
                padding-bottom: 4px;
            }
            .contact_item
            {
               flex: 0 0 calc(33% - 20px);
            }

            h3 {
                color: #000;
                font-family: "Jokker", sans-serif;
                font-size: 27.709px;
                font-style: normal;
                font-weight: 400;
                line-height: 44.335px;
                margin: 0;
            }

            h4 {
                color: #000;
                font-family: "HarmonyOS Sans SC";
                font-size: 27.709px;
                font-style: normal;
                font-weight: 300;
                line-height: 44.335px;
                margin: 0;
            }
        }

        .social-wrapper {
            margin-bottom: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 200px;

            .channel-list {
                width: 400px;
                padding-top: 20px;
            }
            .shop-group
            {
              display: flex;
              gap: 50px;
              flex-wrap: wrap;
              justify-content: center;
              .shop-group-content
                {
                display: flex;
                gap:20px;
                padding-top: 24px;
                .shop-item
                {
                    text-align: center;
                    .qr-placeholder
                    { 
                        img{
                            width: 52px;
                            height: 52px;
                        }
                    }
                    .text-link
                        {
                        text-decoration: none;
                        color: #61c4f6;
                        font-family: "Jokker", sans-serif;
                        font-size: 14px;
                        line-height: 22.675px;
                        padding-top: 20px;
                        }
                        .text-link:hover
                        {
                        text-decoration: underline;
                        }
                }
                }
            }
            

        }

        .qr-section {
            display: flex;
            gap: 50px;
            flex-wrap: wrap;


            .qr-group {
                display: flex;
                gap: 52px;

                .qr-item {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .qr-placeholder {
                        width: 80px;
                        height: 80px;
                        border-radius: 1.89px;
                        overflow: hidden;
                        margin-bottom: 13px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    p {
                        color: #000;
                        font-family: "Jokker", sans-serif;
                        font-size: 12.093px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 22.675px;
                        margin: 0;
                        text-align: center;

                        span {
                            font-family: "HarmonyOS Sans SC";
                            font-weight: 300;
                        }
                    }
                }
            }
        }
    }

    // 底部横幅
    .footer-banner {
        background: #000000;
        color: #ffffff;
        padding: 20px 80px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        font-size: 14px;
        line-height: 30px;

        p {
            margin: 0;
        }

        a {
            color: #ffffff;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        &-left {
            text-align: left;
        }

        &-right {
            text-align: right;
        }
    }


}
@media (max-width: 1600px) {
    .home {
        .section-follow-us {
               .social-wrapper {
                gap: 60px;
               }
        }
    }
}
/* 移动端适配 */
@media (max-width: 768px) {

    .home {
        width: 100%;
        max-width: 100%;
        min-width: 100%;

        h2 {
            font-size: 20px !important;
            line-height: 26px !important;
            margin-bottom: 20px !important;
        }

        .hero-banner {
            display: none;
        }

        .hero-banner-mobile {
            display: block;
            background: url('@/assets/images/home/hero-banner-bg-mobile.png') no-repeat center center;
            background-size: cover;
            height: 100vh;
            padding: 100px 0 20px 0;

            h2 {
                text-align: center;
                font-size: 28px;
            }

            .hero-content {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                
            }

            .hero-content-desc {
                .product-showcase {
                    width: 100%;
                }

                .stats {
                    display: flex;

                    .stat-item {
                        width: 0;
                        flex: 1;
                        text-align: center;

                        .stat-number {
                            color: #413D3B;
                            font-family: Jokker;
                            font-size: 24.2px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }
                        
                        .stat-label,
                        .stat-desc {
                            color: #413D3B;
                            font-family: "HarmonyOS Sans SC";
                            font-size: 10.827px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: normal;
                        }
                    }
                }

                .awards {
                    padding: 0 25px;
                    img {
                        width: 100%;
                    }
                }
            }







        }

        .section-ai-intelligence {
            padding: 38px;

            .section-container {
                max-width: 100%;
                grid-template-columns: 1fr;
                gap: 69px;
            }

            .text-block {
                .section-description {
                    color: #000;
                    font-family: "HarmonyOS Sans SC";
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 24.306px;
                }
            }

            .image-grid-4 {
                gap: 10px;
            }
        }

        .section-professionals {
            padding: 34px;

            h2 {
                font-size: 16px !important;
            }

            .section-title-center {
                font-size: 24px;
            }

            .section-subtitle-center {
                font-size: 18px;
                margin-bottom: 40px;
            }

            .image-grid-6 {
                display: flex;
                flex-wrap: wrap;
                gap: 20px;

                .grid-item {
                    width: calc(50% - 10px);

                    >img {
                        aspect-ratio: 144.86/96.62;
                        height: auto;
                    }

                    .grid-label {
                        padding: 0;
                        color: #000;
                        font-family: "HarmonyOS Sans SC";
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 300;
                        line-height: 10.171px;
                        /* 150% */
                    }
                }
            }
        }

        .section-products {
            padding: 34px;

            // .section-container{
            //     .section-title-center{
            //         margin-bottom: 38px !important;
            //     }
            // }
            .product-cards {
                flex-direction: column;
                gap: 38px;
                margin-top: 0px !important;
                 .card-item
                {
                    .button_back
                    {
                        padding: 6px;
                        font-size: 12px;
                    }
                }
                img {
                    width: 100%;
                }
            }
        }

        .section-plaud-intelligence {
            padding: 38px 55px;

            .section-container {
                .section-title-center {
                    font-size: 20px;
                }

                .product-cards {
                    flex-direction: column;
                    margin-top: 0px;
                    gap: 38px;

                    >img {
                        width: 100%;
                    }
                }
            }
        }


        .section-follow-us {
            padding: 38px 24px;

            .section-container {
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 30px;

                .logo {
                    margin-bottom: 0;
                }

                .follow-title {
                    margin-bottom: 0;
                    text-align: left;
                    flex-direction: column;
                    div{
                        text-align: center;
                    }
                    .contact_item
                    {
                    flex: 0 0 calc(50% - 20px);
                    }
                }

                .social-wrapper {
                    display: block;

                    .channel-list {
                      width: 100%;
                      max-width: 400px;
                    }
                    .shop-group {
                        gap: 0;
                    }

                    .qr-section {
                        width: 100%;
                        display: flex;
                        gap: 20px;

                        .qr-group {
                            width: 0;
                            flex: 1;
                            gap: 20px;
                            display: flex;
                            justify-content: center;
                            padding-top: 30px;

                            .qr-item {
                                >p {
                                    font-size: 10px;
                                }
                            }

                            .qr-placeholder {
                                width: 57px;
                                height: 57px;
                            }

                        }
                    }

                }
            }
        }

        .footer-banner {
            flex-direction: column;
            padding: 40px 20px;
            font-size: 16px;
            line-height: 24px;
            gap: 30px;
            align-items: center;

            &-left,
            &-right {
                text-align: center;
            }
        }
    }
}
