.product-introduction {
    max-width: 1440px;
    margin: 0 auto;
}

.img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 300px;

    img {
        width: 100%;
    }

    span {
        font-size: 14px;
        color: #ccc;
    }
}

.img-container-list {
    display: flex;
    gap: 20px;
}

@media screen and (max-width: 768px) {
    .product-introduction {
        padding: 20px;
    }

    .img-container {
        width: 100%;

        img {
            width: 100%;
        }

        span {
            font-size: 12px;
        }
    }

    .img-container-list {
        flex-direction: column;
    }
}

